section {
  width: 77.22%;
  display: flex;
  column-gap: 30px;
  height: 326px;
}

section.canada {
  margin-top: 64px;
}

section.australia,
section.united-kingdom {
  margin-top: 32px;
}

section .container,
section .map {
  border: none;
  border-radius: 15px;
  overflow: hidden;
}

section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
  height: 100%;
  background-color: rgba(253, 243, 240, 1);
}

section .map {
  width: 350px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

section .map img {
  height: 100%;
  width: 100%;
}

section .container .circles {
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

section .container .text {
  display: flex;
  flex-direction: column;
  width: 73.97%;
}

section .container .text .country {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  color: rgba(231, 129, 107, 1);
}

section .container .text .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}

section .container .text .box .left-info,
section .container .text .box .rigth-info {
  display: flex;
  flex-direction: column;
}

section .container .text .box .rigth-info {
  padding-right: 24px;
}

section .container .text .box .title {
  font-weight: 700;
}

section .container .text .box p {
  font-size: 16px;
  line-height: 1.625;
}